/* CSS files add styling rules to your content */
@font-face {
  font-family: "ApfelGrotezk Regular";
  src: url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("https://cdn.glitches.me/ApfelGrotezk-Regular.woff") format("woff");
}

/* @font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
 */
html,
body {
/*   font-family: "HK Grotesk", arial, sans-serif; */
  margin: 0;
  padding: 0;
  font-family: "ApfelGrotezk Regular", arial, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
body, h2, p, table, pre, a, input, select, textarea { font-family: verdana, arial, helvetica, sans-serif }

.bg_color1       { background-color: #fff }
.bg_color2       { background-color: #f5f5f5 }

.normal_text     { color: #000; font-size: 10px; font-weight: normal }
.footnote        { color: #000; font-size: 9px; font-weight: normal }
.fixed_text      { color: #000; font-family: courier new, courier, monospace; font-size: 12px; font-weight: normal }
.fixedTitle      { color: #000; font-family: courier new, courier, monospace; font-size: 12px; font-weight: normal }

.gray            { color: #ccc }
.dark_gray       { color: #999 }

h2               { color: #3366cc; font-size: 18px; font-weight: bold }

p                { color: #000000; font-size: 10px; font-weight: normal }
table            { color: #000000; font-size: 9px; font-weight: normal }
pre              { color: #000000; font-size: 9px; font-weight: normal }
a                { color: #3366cc; font-size: 10px; font-weight: bold }

.bodyBg          { background-color: #ffffff }
.toneBg          { background-color: #eeeeee }
.lineBg          { background-color: #cccccc; font-size: 0 }
.funcText        { color: #666666; font-size: 10px; font-weight: normal }
.linkActive      { color: #666666; font-size: 13px; font-weight: bold; text-decoration: none; }
.linkInActive    { color: #3366cc; font-size: 13px; font-weight: bold; text-decoration: none; }
.menuActive      { color: #3366cc; font-size: 13px; font-weight: bold; text-decoration: none }
.menuInActive    { color: #666666; font-size: 13px; font-weight: bold; text-decoration: none; background-color: #daecff }
.subMenuActive   { color: #3366cc; font-size: 13px; font-weight: normal; text-decoration: none }
.subMenuInActive { color: #666666; font-size: 13px; font-weight: bold; text-decoration: none; background-color: #daecff }
.alternateRows   { font-size: 10px }
.oddItem         { color: #000000; font-size: 10px; font-weight: normal; background-color: #ffffff }
.evenItem        { color: #000000; font-size: 10px; font-weight: normal; background-color: #eeeeee }
.topTitle        { color: #3366cc; font-size: 18px; font-weight: bold; background-color: #ffffff }
.subTitle        { color: #000000; font-size: 11px; font-weight: bold; background-color: #cccccc }
.button          { color: #000000; font-size: 11px; font-weight: normal; background-color: #ffffff }
.ol-basicMenu    { margin-top: 0; margin-bottom: 0; font-weight: normal }

input            { color: #000; font-size: 10px; font-weight: normal }

input.fieldInt   { width: 40px}
input.fieldName  { width: 100px}
input.fieldIP    { width: 120px}
input.fieldNetAddr { width: 200px}

input.btnNormal  { width: 75px }
input.btnLonger  { width: 110px }
input.btnXL      { width: 160px }
input.btnXXL     { width: 200px }

select           { color: #000; font-size: 10px; font-weight: normal }
select.fixed     { color: #000; font-family: courier new, courier, monospace; font-size: 12px; font-weight: normal }

textarea         { color: #000; font-size: 10px; font-weight: normal }

.collapsed       { display: none; }
.shownItems      { }

.selectedStyle   { border-top: 1px solid #aeafae; border-left: 1px solid #aeafae; border-right: 1px solid #aeafae; background: #ffffff; }
.unselectedStyle { border-top: 1px solid #aeafae; border-left: 1px solid #aeafae; border-right: 1px solid #aeafae; border-bottom: 1px solid #aeafae; background: #c8ddf2; }
.usedBoxStyle    { border-left: 1px solid #aeafae; border-right: 1px solid #aeafae; border-bottom: 1px solid #aeafae; background: #ffffff; }

form { margin:0px 0px;}

.cornerBox, 
.cornerVideoBox	{ float:left; border: 1px solid #cccccc;border-radius: 7px;-moz-border-radius: 7px;margin: 3px; }
.cornerVideoBox { margin:3px 0px; width:100%;}
.cornerBox .content, 
.cornerVideoBox .content  { margin:0 0;padding:7px 0; }
.cornerVideoBox .content  { padding:0px 0px;}
.cornerBox .footerLeft,
.cornerVideoBox .footerLeft   { float:none;clear:both;padding:0 0; }
.cornerBox .footerRight,
.cornerVideoBox .footerRight  { padding-top:7px; margin-left:7px;}

.cornerVideoBox .footerRight    { padding-top:5px; margin-left:5px;}
.cornerVideoBox .content table td { padding:2px 2px 0px 2px}
.cornerVideoBox .content img.hover { opacity:.80;}

.helpFooter {padding:2px 2px;}

.cornerVideoPTZ .cornerTabs{ float:left; padding:0px 8px; width:75%; position:relative; top:1px;}
.cornerVideoPTZ .cornerVideoBox{ float:none;clear:both; }
.cornerVideoPTZ ul{ margin: 0px 0px; padding:0px 0px; width:100%; background:url(/pics/bottom_line_100x5px.gif) repeat-x bottom left; }
.cornerVideoPTZ ul,
.cornerVideoPTZ ul li { float:left; list-style:none; display:block; margin:0px 5px 0px 0px; }
.cornerVideoPTZ ul li { width:80px; background:url(/pics/tab_left_21px.gif) top left no-repeat; }
.cornerVideoPTZ ul li a { display:block; background:url(/pics/tab_right_21px.gif) top right no-repeat; padding-top:6px; padding-bottom:2px; text-decoration:none;}

.cornerVideoPTZ ul li.selectedTab a { color:#000000;}
.cornerVideoPTZ ul li.unselectedTab a { color:#3366cc;}
.cornerVideoPTZ ul li.selectedTab { background-color:#ffffff; padding:0px 0px 1px 0px;}
.cornerVideoPTZ ul li.unselectedTab { background-color:#eeeeee; padding:0px 0px;}
.cornerVideoPTZ ul li a:active, 
.cornerVideoPTZ ul li a:focus { outline:0; }

.top-fieldborder,
.top-mainborder,
.bottom-fieldborder,
.bottom-mainborder { height: 5px; font-size: 0; }

.tabs .cornerTabs{ float:left; padding:0px 0px 5px 0px; position:relative; top:1px;}
.tabs ul{ margin: 0px 0px; padding:0px 0px; width:100%; background:url(/pics/bottom_line_100x5px.gif) repeat-x bottom left; }
.tabs ul,
.tabs ul li { float:left; list-style:none; display:block; margin:0px 5px 0px 0px; }
.tabs ul li { min-width:40px; background:url(/pics/tab_left_21px.gif) top left no-repeat; }
.tabs ul li div { background:url(/pics/tab_right_21px.gif) top right no-repeat; padding: 6px 10px 2px 10px; text-decoration:none; cursor:pointer;}

.tabs ul li.selectedTab div { color:#000000;}
.tabs ul li.unselectedTab div { color:#3366cc;}
.tabs ul li.disabledTab div { color:#aaaaaa;}
.tabs ul li.selectedTab { background-color:#ffffff; padding:0px 0px 1px 0px;}
.tabs ul li.disabledTab { background-color:#eeeeee; padding:0px 0px;}
.tabs ul li.unselectedTab { background-color:#eeeeee; padding:0px 0px;}

.actualSliderPos { position: absolute; border: transparent 0px solid; background: blue; font-size: 1px; }

#mainMenu { padding:9px 0px; }
#mainMenu ul { list-style:none; margin:0px 0px; padding:0px 0px; }
#mainMenu ul li { margin:0px 0px; padding:8px 0px 8px 13px; }
#mainMenu ul li ul li { padding:0px 0px 0px 13px; }
#mainMenu ul li ul li ul li { padding-left:9px; }
#mainMenu ul li.subMenuMarkerActive { background: url(/pics/arrowActive.gif) no-repeat left 12px; }
#mainMenu ul li.subMenuMarkerInactive{ background: url(/pics/arrowInactive.gif) no-repeat left 12px; }
#mainMenu ul li ul li.subMenuMarkerActive,
#mainMenu ul li ul li.subMenuMarkerInactive { background-position:left 6px; }

div.selectList { overflow: visible; overflow-x: hidden; overflow-y: scroll; border: 1px inset black; height: 200px; }
table.selectList { border-collapse: collapse; table-layout: fixed; width: 100%; }
table.selectList td { vertical-align: middle; padding: 2px; margin: 0px; -moz-user-select:none; -webkit-user-select:none; overflow: hidden; }
table.selectList thead { font-weight: bold; }
table.selectList tbody { border-top: 1px solid gray; }
table.selectList tbody tr { background-color: white; color: black; border-top: 1px none white; border-bottom: 1px none white; cursor: pointer; }
table.selectList tbody tr td.predefined {font-weight:bold;}
table.selectList tbody tr.selected { background-color: #3366FF; color: white; border-top: 1px dotted black; border-bottom: 1px dotted black; }
table.selectList tbody tr.unselected td.predefined {color:#3366cc;}
table.selectList select.tiny{ width:40px;}
table.selectList select.smaller{ width:40px;}
table.selectList select.small{ width:75px;}
table.selectList select.medium{ width:150px;}
table.selectList select.large{ width:250px;}

video {
  width: 640px;
}
